
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: url('http://i.stack.imgur.com/jGlzr.png') no-repeat 0 0 scroll;
  background-color:#0C0C0C;
  background-size: 100% 100%;
  background-attachment: fixed;
  height:100vh;
  width:100%;
}

#divs-container {
  width:800px;
  margin: auto;
background-color: antiquewhite;
  font-weight: bold;
}

.div-style {
  color:gray;
  aspect-ratio: 1/1;
  border: 1px solid #e1bd9d;
}

.select-width-ow {
  width:200px;
  margin:auto;
}